.completed-todos-icon{
  color: green;
  margin-right: 0.2rem;
}

.todos-container{
  h1{
    margin-bottom: 0;
  }
  .completed-todos-count{
    margin-top: 0;
  }

  .todo-list{
    margin-top: 2rem;
  }
}
